.dropBtn {
    font-size: 25px;
    color: #CFE8EF;
    font-family: 'Poppins', sans-serif;
}

.dropdown-content {
    width: 226px;
    height: 100px;
    background: #424C55;
    color: #CFE8EF;
    position: absolute;
    top: 80px;
    right: 2px;
    font-family: 'Poppins', sans-serif;
}

.logout {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px;
}

.logout-link {
    text-decoration: none;
    color: #CFE8EF;
}

.edit-user-btn {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px;
}