.dropBtn {
    font-size: 25px;
    color: #CFE8EF;
}

.dropdown-content {
    width: 220px;
    height: 70px;
    background: black;
    color: white;
    position: absolute;
    top: 80px;
    right: 10px;
}

.logout {
    font-size: 20px;
}