.header {
    height: 80px;
    background: #424C55;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    border-bottom: solid 2px black;
}

.logo-link {
    font-size: 30px;
    text-decoration: none;
    color: #CFE8EF;
    font-family: 'Poppins', sans-serif;
}

.search-link {
    font-size: 25px;
    text-decoration: none;
    color: #CFE8EF;
    font-family: 'Poppins', sans-serif;
}

.cart-link {
    font-size: 25px;
    text-decoration: none;
    color: #CFE8EF;
    font-family: 'Poppins', sans-serif;
}

.login-btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: #CFE8EF;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}