.search-container {
    display: flex;
    height: 1500px;
    background: linear-gradient( #CFE8EF, #A491D3 );
}

.search {
    width: 15%;
    height: 700px;
    background: #424C55;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 1px #8888;
    border-radius: 10px;
    margin-left: 1px;
    margin-top: 10px;
}

select {
    color: #CFE8EF;
    border: none;
    height: 40px;
    outline: none;
    width: 99%;
    background-color: #424C55;
    outline: none;
    display: flex;
    font-size: 1.2rem;
    padding-left: 7px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

select:hover {
    background-color: black;
}

.reset-btn {
    font-size: 17px;
    width: 70px;
    border-radius: 5px;
    border: solid 1px #8888;
    background: #CFE8EF;
    font-family: 'Poppins', sans-serif;
    outline: none;
    position: absolute;
    bottom: -30px;
    left: 15px;
}

.reset-btn:hover {
    font-weight: bold;
}

.reset-btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.filter-btn {
    font-size: 17px;
    width: 70px;
    border-radius: 5px;
    border: solid 1px #8888;
    background: #CFE8EF;
    position: absolute;
    bottom: -30px;
    left: 145px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.filter-btn:hover {
    font-weight: bold;
}

.filter-btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.laptops {
    width: 70%;
    height: 100%;
    background: linear-gradient( #CFE8EF, #A491D3 );
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.no-wrap-laptops {
    width: 70%;
    height: 100%;
    background: linear-gradient( #CFE8EF, #A491D3 );
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.compare {
    width: 15%;
    height: 300px;
    background: #424C55;
    border: solid 1px #8888;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 1px;
    margin-top: 10px;
    color: #CFE8EF;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.model-container {
    width: 100%;
}

h3 {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 2px #8888;
    padding-right: 80px;
    padding-bottom: 5px;
}

.toggle-compare{
    position: absolute;
    bottom: 370px;
    border-radius: 5px;
    border: solid 1px #8888;
    font-size: 15px;
    height: 30px;
    background: #CFE8EF;
    color: black;
    right: 15px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.toggle-compare:hover {
    font-weight: bold;
}

.toggle-compare:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

@media (max-width:1366px) {
    .reset-btn {
        font-size: 17px;
        width: 70px;
        border-radius: 5px;
        border: solid 1px #8888;
        background: #CFE8EF;
        font-family: 'Poppins', sans-serif;
        outline: none;
        position: absolute;
        bottom: 250px;
        left: 15px;
    }

    .filter-btn {
        font-size: 17px;
        width: 70px;
        border-radius: 5px;
        border: solid 1px #8888;
        background: #CFE8EF;
        position: absolute;
        bottom: 250px;
        left: 125px;
        font-family: 'Poppins', sans-serif;
    }

    .compare {
        width: 15%;
        height: 300px;
        background: #424C55;
        border: solid 1px #8888;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-right: 1px;
        margin-top: 10px;
        color: #CFE8EF;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-right: 44px;
    }

    .toggle-compare{
        position: absolute;
        bottom: 650px;
        border-radius: 5px;
        border: solid 1px #8888;
        font-size: 15px;
        height: 30px;
        background: #CFE8EF;
        color: black;
        right: 55px;
        outline: none;
        font-family: 'Poppins', sans-serif;
    }
}

@media (max-width: 1024px) {
    .reset-btn {
        font-size: 17px;
        width: 70px;
        border-radius: 5px;
        border: solid 1px #8888;
        background: #CFE8EF;
        font-family: 'Poppins', sans-serif;
        outline: none;
        position: absolute;
        bottom: 590px;
        left: 5px;
    }

    .filter-btn {
        font-size: 17px;
        width: 70px;
        border-radius: 5px;
        border: solid 1px #8888;
        background: #CFE8EF;
        position: absolute;
        bottom: 590px;
        left: 80px;
        font-family: 'Poppins', sans-serif;
    }

    .compare {
        width: 15%;
        height: 300px;
        background: #424C55;
        border: solid 1px #8888;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-right: 1px;
        margin-top: 10px;
        color: #CFE8EF;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-right: 4px;
    }

    .toggle-compare{
        position: absolute;
        bottom: 990px;
        border-radius: 5px;
        border: solid 1px #8888;
        font-size: 15px;
        height: 30px;
        background: #CFE8EF;
        color: black;
        right: 10px;
        outline: none;
        font-family: 'Poppins', sans-serif;
    }

    h3 {
        font-size: 1.4rem;
        font-family: 'Poppins', sans-serif;
        border-bottom: none;
        padding-bottom: 5px;
        padding-left: 40px;
    }

    .search-container {
        display: flex;
        height: 100vh;
        background: linear-gradient( #CFE8EF, #A491D3 );
    }
}